body {
  font-family: sans-serif;
  background: linear-gradient(to right, #3b076f, #4e1484, #6b1b95);
  color: #1f2937;
  margin: 0;
  height: calc(100vh - 36px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

/* Base container style */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  max-width: 1280px;
  width: 100%;
}

/* Medium container style */
.container-md {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  max-width: 1280px;
  width: 100%;
}

/* Responsive adjustments at 768px */
@media (min-width: 768px) {
  .container,
  .container-md {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container > * {
    flex: 1 1 45%; /* or flex: 0 1 48%; to better control spacing */
  }

  .container-md > * {
    flex: 0 1 48%;
  }
}

.logo {
  width: 13rem;
  margin-bottom: 3rem;
  display: inline-block;
}
.text-container {
  margin: auto;
}

.text-container h2 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3.125rem;
  color: #fff;
}

.text-container p {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  color: #fff;
}

.text-container a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 0.25rem;
}

.form {
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 2rem;
  max-width: 32rem;
  width: 100%;
  margin: auto;
}

.form h3 {
  font-size: 1.875rem;
  font-weight: 800;
  margin-bottom: 3rem;
}

.form input {
  background-color: #f3f4f6;
  width: 93.8%;
  font-size: 0.875rem;
  padding: 0.875rem 1rem;
  border-radius: 0.375rem;
  border: none;
  outline-color: #1f2937;
}

.form input:focus {
  background-color: transparent;
}

.form .forgot-password {
  text-align: right;
  font-size: 0.875rem;
  color: #1e3a8a;
  font-weight: 600;
  text-decoration: underline;
}

.form button {
  width: 100%;
  padding: 0.75rem 1.5rem;
  margin: 36px 0px;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0.375rem;
  color: #fff;
  background-color: #1f2937;
  border: none;
  cursor: pointer;
}

.form button:hover {
  background-color: #222;
}

.form button:focus {
  outline: none;
}

.alternative-login {
  margin: 1.5rem 0;
  font-size: 0.875rem;
  color: #9ca3af;
  text-align: center;
}

.error-box {
  margin-top: 16px;
  color: #ee8241;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  width: 100%;
  text-align: left;
}
